/*colorpallet:
    #0b0c10
    #1f2833 background
    #c5c6c7
    #66fcf1
    #45a29e background
*/
h1 {
    color: #c5c6c7;
    grid-area: h1;
}
h2 {
    color: #66fcf1;
    grid-area: h2;
}
#right h2 {
    color: #45a29e
}
i {
    color: #45a29e;
    height: 50px;
}
a {
    text-decoration: none;
}
body {
    background-color: #0b0c10;
    font-family: Luminari, serif;
    text-align: center;
    justify-content: center;
    height: 100vh;
    display: grid;
    padding: 0;
    margin: 0;
    grid-template-columns: 3fr 2fr;
    grid-template-rows: 100%;
    grid-template-areas:
            "left right";
}
#left {
    background-color: #45a29e;
    grid-area: left;
    display: flex;
    align-items: center;
    justify-content: center;
}

#right {
    background-color: #1f2833;
    grid-area: right;
    display: flex;
    align-items: center;
    justify-content: center;
}
.box {
    display: unset;
    justify-self: center;
    align-self: center;
}
